@model BusinessLayer.ViewModels.FavoriteCarDetailsViewModel

@{
    string Name = Context.Session.GetString("Name");
    var userId = Context.Session.GetInt32("Id");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

    <style>
        .image-container {
            width: 450px; /* genislık */
            height: 300px; /* yukseklil */
            border: 2px solid #0000FF; /* kenarlık */
            overflow: hidden; 
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -180px;
        }

        .ul-divider li {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px; 
            margin-bottom: 10px;
        }
            .image-container img {
                width: 100%;
                height: auto;
            }

    </style>

</head>
<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">

        <div class="container px-4 px-lg-5">
            <div class="container px-4 px-lg-5">
                <div class="input-group-append">
                    <a href="/Home/Index" class="btn btn-primary" style="background-color: #004080; color: white; text-decoration: none;">
                        <i class="bi bi-arrow-left-circle"></i> Geri Git
                    </a>
                </div>
            </div>

            
            @*<a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>*@



        </div>
    </nav>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="image-container" src="/Pictures/@Model.Car.CarImage" alt="@Model.Car.CarName" />
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled ul-divider">
                        <li class="mb-3"><strong>Marka Adı:</strong> @Model.Car.CarBrand.CarBrandName</li>
                        <li class="mb-3"><strong>Model Adı:</strong> @Model.Car.CarName</li>
                        <li class="mb-3"><strong>Araba Tipi:</strong> @Model.Car.CarType.CarTypeName</li>
                        <li class="mb-3"><strong>Araba Kmsi:</strong> @Model.Car.CarKm Km</li>
                        <li class="mb-3"><strong>Araba Motor Gücü:</strong> @Model.Car.CarHp Hp<li>
                        <li class="mb-3"><strong>Koltuk Sayısı:</strong> @Model.Car.Seats</li>
                        <li class="mb-3"><strong>Üretim Yılı:</strong> @Model.Car.Years</li>
                        <li class="mb-3"><strong>Araba Tip Özellikleri:</strong> @Model.Car.CarType.CarTypeFeatures</li>
                        <li class="mb-3"><strong>Araba Marka Özellikleri:</strong> @Model.Car.CarBrand.CarBrandDescription</li>
                    </ul>
                    <div class="h4 text-primary border-top pt-3">@Model.Car.CarPrice TL</div>
                    <div class="mb-3"><strong>Acıklaması:</strong> @Model.Car.CarDescription</div>
                    <div class="d-flex mt-4">
                          <div class="d-flex mt-4">
                            @if (string.IsNullOrWhiteSpace(Name))
                            {
                                <!-- Giriş yapılmamışsa -->
                                <button class="btn btn-primary" type="button" onclick="showLoginMessage()">
                                    <i class="bi bi-cart-fill me-1"></i>
                                    Favorilere Ekle
                                </button>
                                <div id="loginMessage" class="text-danger" style="display: none; margin-top: 5px;">Giriş yapın</div>
                            }
                            else
                            {
                                bool isFavorite = false;
                                if (Model.FavoriteCarList != null && userId.HasValue)
                                {
                                    foreach (var favoriteCar in Model.FavoriteCarList)
                                    {
                                        if (favoriteCar.UserId == userId && favoriteCar.CarId == Model.Car.CarId)
                                        {
                                            isFavorite = true;
                                            break;
                                        }
                                    }
                                }

                                if (isFavorite)
                                {
                                    <!--kaldırma -->
                                    <form action="/Favorite/RemoveFromFavorites" method="post">
                                        <input type="hidden" name="carId" value="@Model.Car.CarId" />
                                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash">Favorilerden Kaldır</i></button>
                                    </form>
                                }
                                else
                                {
                                    <!-- ekleme -->
                                    <form action="/Favorite/AddToFavorites" method="post">
                                        <input type="hidden" name="carId" value="@Model.Car.CarId" />
                                        <button type="submit" class="btn btn-primary">Favorilere Ekle</button>
                                    </form>
                                }
                            }




                        </div>

                        <script>
                                function showLoginMessage() {
                                    // Giriş yapılmamışsa
                                    document.getElementById("loginMessage").style.display = "block";

                                    // 2 saniye 
                                    setTimeout(function () {
                                        document.getElementById("loginMessage").style.display = "none";
                                    }, 2000);
                                }
                                           
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Related items section-->
@*    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Special Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sale Item</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Popular Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $40.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
